# GitLab Pages configuration - works with FQDN - requires certificate in place

{% if pages_external_url %}
pages_external_url '{{ pages_external_url }}'
gitlab_pages["namespace_in_path"] = true
{% endif %}


# We use a demo license for employees

gitlab_rails['env'] = {
    "GITLAB_LICENSE_MODE" => "test",
    "CUSTOMER_PORTAL_URL" => "https://customers.staging.gitlab.com"
}

# Send email

gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = "{{ smtp_address}}"
gitlab_rails['smtp_port'] = 587
gitlab_rails['smtp_user_name'] = "{{ smtp_username }}"
gitlab_rails['smtp_password'] = "{{ smtp_password }}"
gitlab_rails['smtp_domain'] = "{{ smtp_domain }}"
gitlab_rails['smtp_authentication'] = "login"
gitlab_rails['smtp_enable_starttls_auto'] = true
